@import "tailwindcss";

@theme {
  --font-playfair: var(--font-playfair);
  --font-pinyon: var(--font-pinyon);
  --font-inter: var(--font-inter);
}

:root {
  --background: #fdfbf7;
  --foreground: #2d2d2d;
  --wedding-gold: #c5a059;
  --wedding-purple: #6b46c1;
  --wedding-red: #c53030;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.font-playfair {
  font-family: var(--font-playfair), serif;
}

.font-pinyon {
  font-family: var(--font-pinyon), cursive;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}
